body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    background-image: url(images/snow.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
}
.content {
    padding: 20px;
    line-height: 2;
    width: 50em;
    margin: auto;
}
.big {
    width: 150%;
    height: 150%;
}

@media screen and (max-width: 53em) {
    .content {
        padding: 20px;
        line-height: 2;
        width: 90%;
    }
}


.content img {
    width: 30%;
    height: 30%;
}

.content figcaption {
    line-height: 2;
    font-size: 15px;
    color: rgb(172, 172, 172);
}