body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    background-image: url(images/snow.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
.content {
    padding: 20px;
    line-height: 2;
    width: 50em;
}

@media screen and (max-width: 50em) {
    .content {
        padding: 20px;
        line-height: 2;
        width: 90%;
    }
}


.content img {
    width: 40%;
    height: 40%
}

.content figcaption {
    padding: 10px;
    font-size: 15px;
    color: rgb(172, 172, 172);
}